@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.93);
        filter: hue-rotate(180deg);
    }

    to {
        opacity: 1;
        transform: scale(1);
        filter: hue-rotate(0deg);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
        filter: hue-rotate(0deg);
    }

    to {
        opacity: 0;
        transform: scale(0.93);
        filter: hue-rotate(180deg);
    }
}

/* Overlay for the modal, fixed position to cover the screen */
.smodal-overlay {
    position: fixed;
    top: 450px;
    left: 700px;
    right: 0px;
    bottom: 0px;
    width:450px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 100%;
    z-index:10000;
}

/* Container for the modal content, centered inside the overlay */
.smodal-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.smodal-content.show {
    animation-name: fadeIn;
}

.smodal-content.hide {
    animation-name: fadeOut;
}

.snotepad-image {
    width: 450px;
    height: auto;
    z-index: 1001;
}




/* Close button */
.close-button {
    position: absolute;
    top: 10px;
    right: 12px;
    width: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--black);
    font-size: 2px;
    outline: none;
    z-index: 2000;
    padding: 9px;
}

/* Change color of close button on hover */
.close-button:hover {
    color: var(--red);
}

/* stop button */
.sclose-button {
    position: absolute;
    top: 197.5px;
    right: 105px;
    width: 75px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--black);
    font-size: 2px;
    outline: none;
    z-index: 2000;
    padding: 9px;
}

/* Change color of stop button on hover */
.sclose-button:hover {
    color: var(--red);
}

/* play button */
.play-button {
    position: absolute;
    top: 197.5px;
    right: 188px;
    width: 75px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--black);
    font-size: 2px;
    outline: none;
    z-index: 2000;
    padding: 9px;
}

/* Change color of play button on hover */
.sclose-button:hover {
    color: var(--red);
}
