.navbar {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: var(--darkgray);
    border-top: 2px solid var(--white);
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    position: absolute;
    bottom: 0;
    color: #fff;
    font-family: 'ms1', 'MS Sans Serif', sans-serif;
    cursor: var(--cursor-arrow);
}

.start-button {
    margin-left: 5px;
}

.start-button button {
    padding: 5px 10px;
    cursor: var(--cursor-pointer);
    font-family: 'ms2', 'MS Sans Serif', sans-serif;
    letter-spacing: .05rem;
    font-size: 14px;
}

.start-button button.active,
.start-button button:active {
    background-color: var(--lightgray);
    border-top: 2px solid var(--black);
    border-left: 2px solid var(--black);
    border-bottom: 2px solid var(--white);
    border-right: 2px solid var(--white);
}

.mobile-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 200px;
    background-color: var(--lightgray);
    border: 2px solid var(--black);
    border-top: none;
    z-index: 10;
    color: var(--black);
    cursor: var(--cursor-arrow);
}

.mobile-menu.active {
    display: flex;
}

.mobile-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-nav li {
    padding: 10px;
    border-bottom: 1px solid var(--darkgray);
    cursor: var(--cursor-pointer);
}

.mobile-nav li:hover {
    background-color: var(--blue);
    color: var(--white);
}

.mobile-menu-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.menu-icons button {
    margin: 5px;
    width: 80%;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px 0;
}

.icon {
    font-size: 1.2rem;
    cursor: var(--cursor-pointer);
}

.icon:hover {
    transform: scale(1.2);
    transition: 0.3s;
}